<table>
<thead>
<tr>
    <td>Task Model</td>
    <td>Task ID</td>
    <td>Name</td>
    <td>Time</td>
</tr>
</thead>

<% Array(roby_events).each do |ev| %>
<tr>
    <td>roby.<%= ev.task.model.name.gsub("::", ".") %></td>
    <td><%= ev.task.id %></td>
    <td><%= ev.model.name %></td>
    <td><%= ev.time %></td>
</tr>
<% end %>
</table>